# Секретные ключи и файлы лицензий
*.key
License.key
license.key

# Бинарники и исполняемые файлы (их загружаем только через Releases)
*.exe
*.bin
# Логи и временные файлы системы
*.log
.DS_Store
Thumbs.db

docs/
index.html
.html
index
